In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv')

In [ ]:
# shape shows rows,cols
# dftypes shows types of cols

In [3]:
df.shape

(10633, 21)

In [4]:
df.dtypes

player_id      int64
season_id     object
gp           float64
age          float64
min          float64
fgm          float64
fga          float64
fg_pct       float64
fg3m         float64
fg3a         float64
fg3_pct      float64
ftm          float64
fta          float64
ft_pct       float64
oreb         float64
dreb         float64
ast          float64
tov          float64
stl          float64
blk          float64
pts          float64
dtype: object

In [5]:
# head gives first x rows and tail gives last x rows

In [6]:
df_5_row = df.head()

In [7]:
print(df_5_row)

   player_id season_id    gp   age   min  fgm  fga  fg_pct  fg3m  fg3a  ...  \
0        471   1996-97  41.0   NaN  13.3  1.1  3.3   0.331   0.2   0.7  ...
1        920   1996-97  83.0  33.0  30.8  2.8  5.8   0.483   0.0   0.2  ...
2        243   1996-97  83.0  24.0  20.4  1.8  4.4   0.411   0.5   1.2  ...
3       1425   1996-97  33.0  25.0  17.8  2.6  4.5   0.574   0.0   0.0  ...
4        768   1996-97  47.0  27.0  11.1  1.4  3.8   0.374   0.0   0.1  ...

   ftm  fta  ft_pct  oreb  dreb  ast  tov  stl  blk  pts
0  1.0  1.2   0.875   0.7   1.8  1.4  0.8  0.2  0.3  3.4
1  1.5  2.4   0.650   2.7   5.2  0.8  0.9  0.8  0.2  7.2
2  1.1  1.3   0.836   0.5   2.2  1.9  1.1  0.9  0.3  5.2
3  1.0  1.5   0.673   1.9   2.5  0.5  1.0  0.5  0.9  6.2
4  1.1  1.8   0.643   0.7   1.3  0.4  0.7  0.3  0.6  4.0

[5 rows x 21 columns]

In [8]:
df.tail()

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
10628,203897,2018-19,63.0,24.0,34.5,8.4,18.0,0.467,1.9,5.1,...,5.0,6.0,0.832,0.6,4.0,4.5,3.4,1.0,0.4,23.7
10629,1629155,2018-19,1.0,26.0,3.8,0.0,1.0,0.000,0.0,1.0,...,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,0.0,0.0
10630,2585,2018-19,68.0,35.0,12.9,1.3,2.8,0.440,0.0,0.1,...,1.4,1.8,0.782,1.5,2.4,1.3,0.8,0.5,0.3,3.9
10631,1629015,2018-19,6.0,19.0,18.4,2.3,5.7,0.412,1.0,2.7,...,1.0,1.3,0.750,0.5,1.7,1.7,1.0,0.3,0.3,6.7
10632,1627753,2018-19,1.0,23.0,1.0,1.0,1.0,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [9]:
# sample gives random x rows

In [10]:
df.sample(12)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
8772,203477,2015-16,77.0,25.0,25.5,3.4,9.4,0.360,2.3,6.3,...,1.9,2.3,0.833,0.3,2.0,1.8,1.2,0.7,0.2,11.0
2143,1883,2000-01,80.0,24.0,39.9,6.9,15.2,0.451,1.7,4.2,...,4.5,5.5,0.817,2.4,4.5,6.5,3.3,1.8,0.4,19.9
5245,101119,2007-08,75.0,23.0,26.9,5.7,12.6,0.453,1.9,4.7,...,1.5,2.1,0.748,0.7,2.1,2.2,2.3,0.9,0.2,14.9
9902,1627098,2017-18,54.0,29.0,18.8,2.0,5.3,0.382,0.9,2.3,...,1.4,1.7,0.804,0.2,1.7,3.0,1.2,0.6,0.1,6.3
1609,688,1999-00,82.0,31.0,19.6,2.2,4.6,0.481,0.0,0.1,...,1.7,2.0,0.839,0.3,1.0,1.1,0.9,0.4,0.1,6.2
7492,101153,2012-13,36.0,30.0,17.9,2.0,3.9,0.518,0.4,1.4,...,0.6,0.7,0.875,0.9,1.9,0.7,0.4,0.4,0.1,5.0
6365,1863,2010-11,57.0,35.0,15.1,2.7,6.2,0.443,0.5,1.2,...,1.2,1.4,0.841,0.3,0.7,2.5,0.9,0.7,0.1,7.2
6648,2754,2010-11,72.0,29.0,20.8,3.5,6.8,0.510,0.1,0.3,...,1.9,2.5,0.753,1.0,1.7,1.4,1.2,1.8,0.6,8.9
3157,905,2003-04,76.0,35.0,22.2,1.8,3.7,0.473,0.0,0.0,...,0.9,1.4,0.613,2.1,3.2,0.9,0.5,0.6,0.8,4.4
10112,203458,2018-19,77.0,25.0,20.1,4.2,8.4,0.494,1.0,2.6,...,1.8,2.8,0.648,2.1,3.5,1.1,1.3,0.4,0.9,11.1
240,271,1996-97,82.0,33.0,26.1,3.0,6.7,0.450,0.4,1.2,...,2.3,3.0,0.765,0.8,1.5,1.4,1.4,0.9,0.2,8.7
4887,2216,2006-07,68.0,25.0,35.7,8.8,18.9,0.467,0.2,0.7,...,5.8,7.1,0.819,2.9,7.2,2.2,3.2,0.8,0.2,23.6

In [11]:
# info gives info on data types, memory, and number of rows

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10633 entries, 0 to 10632
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  10633 non-null  int64
 1   season_id  10633 non-null  object
 2   gp         10633 non-null  float64
 3   age        10631 non-null  float64
 4   min        10633 non-null  float64
 5   fgm        10633 non-null  float64
 6   fga        10633 non-null  float64
 7   fg_pct     10633 non-null  float64
 8   fg3m       10633 non-null  float64
 9   fg3a       10633 non-null  float64
 10  fg3_pct    10633 non-null  float64
 11  ftm        10633 non-null  float64
 12  fta        10633 non-null  float64
 13  ft_pct     10633 non-null  float64
 14  oreb       10633 non-null  float64
 15  dreb       10633 non-null  float64
 16  ast        10633 non-null  float64
 17  tov        10633 non-null  float64
 18  stl        10633 non-null  float64
 19  blk        10633 non-null  float64
 20  pts        10633 non-null  float64
dtypes: float64(19), int64(1), object(1)
memory usage: 1.7+ MB

In [13]:
# describe gives summary stats

In [14]:
df.describe()

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
count,1.063300e+04,10633.000000,10631.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000
mean,1.684222e+05,52.633782,27.235255,20.398853,3.031468,6.798354,0.433469,0.545359,1.562682,0.235817,1.495429,2.003480,0.698231,0.970159,2.589119,1.796398,1.186043,0.646929,0.412602,8.101129
std,3.882780e+05,25.115265,4.344703,10.099563,2.159450,4.594357,0.097001,0.661287,1.743706,0.179157,1.397361,1.769024,0.195102,0.831041,1.789594,1.789208,0.791090,0.449050,0.481362,5.903179
min,2.000000e+00,1.000000,18.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.495000e+03,33.000000,24.000000,12.100000,1.300000,3.200000,0.398000,0.000000,0.100000,0.000000,0.500000,0.800000,0.643000,0.400000,1.300000,0.600000,0.600000,0.300000,0.100000,3.500000
50%,2.501000e+03,59.000000,27.000000,19.800000,2.500000,5.700000,0.437000,0.300000,1.000000,0.298000,1.100000,1.500000,0.745000,0.700000,2.200000,1.200000,1.000000,0.600000,0.300000,6.600000
75%,2.018800e+05,75.000000,30.000000,28.700000,4.300000,9.500000,0.479000,0.900000,2.600000,0.364000,2.000000,2.700000,0.814000,1.400000,3.400000,2.400000,1.600000,0.900000,0.500000,11.500000
max,1.629541e+06,85.000000,44.000000,44.400000,12.200000,27.800000,1.000000,5.100000,13.200000,1.000000,9.700000,13.100000,1.000000,6.800000,11.500000,11.700000,5.700000,2.900000,3.900000,36.100000

In [15]:
df.sum()

player_id                                           1790833752
season_id    1996-971996-971996-971996-971996-971996-971996...
gp                                                    559655.0
age                                                   289538.0
min                                                   216901.0
fgm                                                    32233.6
fga                                                    72286.9
fg_pct                                                4609.073
fg3m                                                    5798.8
fg3a                                                   16616.0
fg3_pct                                               2507.447
ftm                                                    15900.9
fta                                                    21303.0
ft_pct                                                7424.287
oreb                                                   10315.7
dreb                                                   27530.1
ast                                                    19101.1
tov                                                    12611.2
stl                                                     6878.8
blk                                                     4387.2
pts                                                    86139.3
dtype: object

In [16]:
df.mean()

/var/folders/6y/hkxs6t0j69gg890r8gtpf6br0000gn/T/ipykernel_41442/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

player_id    168422.246967
gp               52.633782
age              27.235255
min              20.398853
fgm               3.031468
fga               6.798354
fg_pct            0.433469
fg3m              0.545359
fg3a              1.562682
fg3_pct           0.235817
ftm               1.495429
fta               2.003480
ft_pct            0.698231
oreb              0.970159
dreb              2.589119
ast               1.796398
tov               1.186043
stl               0.646929
blk               0.412602
pts               8.101129
dtype: float64

In [17]:
df.max()

player_id    1629541
season_id    2018-19
gp              85.0
age             44.0
min             44.4
fgm             12.2
fga             27.8
fg_pct           1.0
fg3m             5.1
fg3a            13.2
fg3_pct          1.0
ftm              9.7
fta             13.1
ft_pct           1.0
oreb             6.8
dreb            11.5
ast             11.7
tov              5.7
stl              2.9
blk              3.9
pts             36.1
dtype: object

In [18]:
df.min()

player_id          2
season_id    1996-97
gp               1.0
age             18.0
min              0.1
fgm              0.0
fga              0.0
fg_pct           0.0
fg3m             0.0
fg3a             0.0
fg3_pct          0.0
ftm              0.0
fta              0.0
ft_pct           0.0
oreb             0.0
dreb             0.0
ast              0.0
tov              0.0
stl              0.0
blk              0.0
pts              0.0
dtype: object