In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv')

In [4]:
type(df.groupby('season_id'))

pandas.core.groupby.generic.DataFrameGroupBy

In [5]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df2 = pd.read_csv('../nba-stats-csv/nba_season_stats.csv')

In [9]:
grouped = df2.groupby('Tm')

In [11]:
grouped['Age'].mean().sort_values(ascending = False)

Tm
CLE    29.000000
NOP    28.086957
SAS    28.058824
HOU    28.000000
GSW    28.000000
WAS    27.133333
MIN    27.000000
OKC    26.705882
DAL    26.652174
LAC    26.571429
MIA    26.421053
DET    26.318182
UTA    26.238095
MIL    26.000000
NYK    25.857143
IND    25.842105
DEN    25.833333
SAC    25.777778
ATL    25.500000
LAL    25.500000
CHO    25.470588
MEM    25.458333
BOS    25.400000
PHI    25.304348
ORL    25.263158
BRK    25.227273
TOR    24.833333
CHI    24.619048
PHO    24.363636
POR    24.125000
Name: Age, dtype: float64

In [12]:
lakers = grouped.get_group('LAL')

In [13]:
lakers

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
30,Lonzo Ball,20,LAL,52,50,1780,203,564,0.360,90,...,0.451,69,291,360,376,88,43,136,117,528
56,Vander Blue,25,LAL,5,0,45,1,5,0.200,0,...,0.500,0,1,1,3,1,0,3,2,3
59,Andrew Bogut,33,LAL,23,5,216,17,25,0.680,0,...,1.000,26,52,78,15,4,13,19,40,36
69,Corey Brewer,31,LAL,54,2,694,78,172,0.453,8,...,0.667,23,70,93,41,41,8,38,83,198
82,Thomas Bryant,20,LAL,15,0,72,8,21,0.381,1,...,0.556,3,14,17,6,1,2,2,6,22
91,Kentavious Caldwell-Pope,24,LAL,74,74,2458,340,798,0.426,159,...,0.789,60,327,387,162,106,16,97,145,992
98,Alex Caruso,23,LAL,37,7,562,50,116,0.431,13,...,0.700,15,50,65,75,23,10,42,52,134
107,Jordan Clarkson,25,LAL,53,2,1256,299,667,0.448,68,...,0.795,44,115,159,173,39,3,95,63,771
142,Luol Deng,32,LAL,1,1,13,1,2,0.500,0,...,NaN,0,0,0,1,1,0,1,0,2
165,Tyler Ennis,23,LAL,54,11,683,94,224,0.420,14,...,0.759,19,76,95,105,30,10,38,75,224
184,Channing Frye,34,LAL,9,0,150,20,43,0.465,9,...,0.750,2,23,25,10,1,1,4,15,52
225,Josh Hart,22,LAL,63,23,1461,176,375,0.469,78,...,0.702,42,221,263,80,47,16,47,107,496
227,Nigel Hayes,23,LAL,2,0,11,1,3,0.333,0,...,1.000,0,0,0,2,0,0,0,0,3
264,Andre Ingram,32,LAL,2,0,64,8,17,0.471,5,...,1.000,1,5,6,7,3,3,3,3,24
265,Brandon Ingram,20,LAL,59,59,1975,358,761,0.470,41,...,0.681,57,257,314,230,45,43,149,163,949
316,Kyle Kuzma,22,LAL,77,37,2401,468,1039,0.450,159,...,0.707,88,395,483,141,49,34,140,160,1242
339,Brook Lopez,29,LAL,74,72,1735,369,793,0.465,112,...,0.703,74,220,294,126,30,98,98,195,961
408,Larry Nance,25,LAL,42,17,922,152,253,0.601,1,...,0.632,108,176,284,57,59,20,41,113,360
450,Gary Payton,25,LAL,11,0,115,17,41,0.415,4,...,0.167,9,18,27,12,4,2,4,13,39
470,Julius Randle,23,LAL,82,49,2190,504,904,0.558,10,...,0.718,181,473,654,210,43,45,213,274,1323
533,Isaiah Thomas,28,LAL,17,1,456,87,227,0.383,33,...,0.921,10,26,36,85,6,1,54,33,265
564,Travis Wear,27,LAL,17,0,228,25,72,0.347,17,...,1.000,0,38,38,7,4,5,6,30,75
580,Derrick Williams,26,LAL,2,0,9,1,4,0.250,0,...,NaN,0,1,1,0,0,0,0,0,2
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

In [14]:
seasons = df.groupby('season_id')

In [15]:
seasons['pts'].sum()

season_id
1996-97    3539.5
1997-98    3489.0
1998-99    3231.7
1999-00    3500.2
2000-01    3444.8
2001-02    3512.4
2002-03    3359.5
2003-04    3423.5
2004-05    3752.9
2005-06    3656.0
2006-07    3759.6
2007-08    3728.5
2008-09    3784.2
2009-10    3788.7
2010-11    3709.2
2011-12    3790.0
2012-13    3732.3
2013-14    3899.5
2014-15    3996.3
2015-16    3974.3
2016-17    4095.4
2017-18    4406.6
2018-19    4565.2
Name: pts, dtype: float64

In [16]:
seasons['pts', 'ast'].sum()

/var/folders/6y/hkxs6t0j69gg890r8gtpf6br0000gn/T/ipykernel_53573/1381438858.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  seasons['pts', 'ast'].sum()

              pts     ast
season_id
1996-97    3539.5   803.1
1997-98    3489.0   798.9
1998-99    3231.7   726.3
1999-00    3500.2   811.8
2000-01    3444.8   804.2
2001-02    3512.4   810.1
2002-03    3359.5   763.1
2003-04    3423.5   777.3
2004-05    3752.9   823.2
2005-06    3656.0   773.6
2006-07    3759.6   808.9
2007-08    3728.5   820.3
2008-09    3784.2   788.5
2009-10    3788.7   797.8
2010-11    3709.2   799.0
2011-12    3790.0   834.7
2012-13    3732.3   848.2
2013-14    3899.5   858.2
2014-15    3996.3   895.2
2015-16    3974.3   869.3
2016-17    4095.4   889.5
2017-18    4406.6   981.5
2018-19    4565.2  1018.4

In [17]:
type(seasons)

pandas.core.groupby.generic.DataFrameGroupBy

In [18]:
# agg method to aggregate

In [19]:
seasons.agg({
    'pts': 'sum',
    'ast': 'mean'
})

              pts       ast
season_id
1996-97    3539.5  1.821088
1997-98    3489.0  1.819818
1998-99    3231.7  1.650682
1999-00    3500.2  1.849203
2000-01    3444.8  1.823583
2001-02    3512.4  1.841136
2002-03    3359.5  1.782944
2003-04    3423.5  1.758597
2004-05    3752.9  1.774138
2005-06    3656.0  1.689083
2006-07    3759.6  1.766157
2007-08    3728.5  1.818847
2008-09    3784.2  1.771910
2009-10    3788.7  1.804977
2010-11    3709.2  1.767699
2011-12    3790.0  1.746234
2012-13    3732.3  1.808529
2013-14    3899.5  1.780498
2014-15    3996.3  1.819512
2015-16    3974.3  1.826261
2016-17    4095.4  1.830247
2017-18    4406.6  1.817593
2018-19    4565.2  1.921509